html {
  background-color: lightgray;
  color: #fff;
  text-align: center;
  font-family: 'Rubik', sans-serif; }

.clear {
  clear: both; }

.option-num, .perehod, .stripe-content {
  float: left; }

.option-num {
  width: 25%;
  height: 220px;
  position: relative;
  /*margin-top:40%;*/ }

.option-num:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0%;
  height: 0;
  border-top: solid 50px;
  border-left: solid 130px transparent;
  border-right: solid 130px transparent;
  z-index: 1; 
}
.triangle{
    width: 0;
    height: 0;
    margin-left:-500px;
    margin-top:-500px;
    
    border-left: 500px solid transparent;
    border-right: 500px solid transparent;
    border-top: 500px solid;
}

.perehod {
  width: 7%;
  height: 220px;
  position: relative; }

.perehod::before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-bottom: solid 50px rgb(0, 172, 230);
  border-left: solid 74px transparent;
  border-right: solid 0 transparent;
  z-index: 1; }

.stripe-content {
  width: 68%;
  height: 220px;
  position: relative; }

.stripe-content::before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  height: 50px;
  z-index: 1;
}

.blue {
  background-color: rgb(102, 217, 255); }
.blue:before{
    content: '';
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  height: 50px;
  z-index: 1;
  background-color: rgb(102, 217, 255);
}
.blue:after{
  border-top: solid 50px rgb(102, 217, 255);
}
.cyan {
  background-color: rgb(0, 172, 230); 
}
.cyan:before{
  border-bottom: solid 50px rgb(0, 172, 230);
}

.sky {
  background-color: rgb(26, 198, 255); 
}
.sky:before{
  background-color:  rgb(26, 198, 255)
}

.red {
  background-color: rgb(255, 71, 26); }
.red:after{
  border-top: solid 50px rgb(255, 71, 26) ;
}

.magenta {
  background-color: rgb(255, 51, 0); }
.magenta:before{
  background-color: rgb(255, 51, 0);
}
.rose {
  background-color: rgb(230, 46, 0); }
.rose:before{
  border-bottom: solid 50px rgb(230, 46, 0);
}
.white {
  background-color: rgb(242, 242, 242); 
  color: black;
}
.white:after{
  border-top: solid 50px rgb(242, 242, 242);
}
.silver{
  background-color: rgb(179, 179, 179) }
.silver:before{
  border-bottom: solid 50px rgb(179, 179, 179);
}
.grey {
  background-color: rgb(204, 204, 204); }
.grey:before{ 
  background-color:rgb(204, 204, 204);
}
.yellow{
  background-color: rgb(230, 184, 0);
}
.yellow:after{
  border-top: solid 50px rgb(230, 184, 0);
}
.brown{
  background-color: rgb(179, 143, 0);
}
.brown:before{
  border-bottom: solid 50px rgb(179, 143, 0)
}
.gold{
  background-color: rgb(204, 163, 0);
}
.gold:before{
  background-color: rgb(204, 163, 0);
}
.black{
  background-color: rgb(51, 51, 51);
}
.black:before{
   border-bottom: solid 50px rgb(51, 51, 51);
}
.dark-grey{
  background-color: rgb(77, 77, 77);
      border-top: rgb(77,77,77);

}/*
.dark-grey:after{
   border-top: solid */50px rgb(77, 77, 77);
/*}*/
.charcoal{
  background-color: rgb(64, 64, 64);
}
.charcoal:before{
  background-color: rgb(64, 64, 64);
}
.time-holder {
  margin-top: 100px;
  font-size: 32px;
  font-style: oblique;
  font-weight: 900; 
}
