html {
  background-color: lightgray;
  color: #fff;
  text-align: center;
  font-family: 'Ubuntu', sans-serif; }

.contact-info a, .nav__links, .register__button, .speaker__link {
  text-decoration: none; }

.head-registration, .head__title, .place-address, .rwd-table tr td, .speaker, .speaker_photo, .speakers {
  text-align: center; }

.head-layout {
  position: relative;
  top: -1vh;
  left: -1vw;
  background: url("../images/m_strategy.png") no-repeat center center;
  -webkit-background-size: 100vw;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 99vw;
  height: 200vh; }

.head-layout:after {
  background: transparent;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.5)), color-stop(100%, rgba(0, 0, 0, 0.5)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
  content: "";
  display: block;
  height: 200vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 99vw; }

header {
  color: black; }

.logo {
  position: absolute;
  left: 10vw;
  top: 10vh;
  width: 20vw;
  height: auto;
  z-index: 0; }

nav {
  margin-top: 35px;
  float: right;
  text-align: center; }

.nav__links {
  position: relative;
  z-index: 3;
  color: #ECF0F1;
  padding: 16px;
  display: inline-block; }

.head__title {
  position: absolute;
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
  z-index: 3;
  font-size: 250%;
  width: 99vw;
  top: 35vh;
  padding: 5vh 0; }

.head__title h1 {
  margin: 0;
  font-size: 180%; }

.head__title__city {
  margin: 2vh 0;
  font-size: 80%; }

.head-registration {
  position: relative;
  top: 80vh; }

.date {
  margin: 2vh 0;
  font-size: 50%; }

.register__button {
  position: absolute;
  z-index: 3;
  width: 10vw;
  margin-top: 7vh;
  left: 40vw;
  border: 2px solid #ECF0F1;
  color: #ECF0F1;
  background-color: transparent;
  padding: 1.5% 2.5%;
  font-size: 120%;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  transition-duration: .5s;
  transition-property: color,background-color;
  cursor: pointer; }

.register__button:focus, .register__button:hover {
  -webkit-animation-name: hvr-back-pulse;
  animation-name: hvr-back-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-color: rgba(255, 255, 255, 0.35);
  color: #ECF0F1;
  outline: 0;
  text-decoration: none; }

.clear {
  clear: both; }

.speakers {
  position: relative;
  top: 20vh; }

.option-num, .perehod, .stripe-content {
  float: left; }

.option-num {
  width: 22vw;
  height: 33vh;
  position: relative; }

.triangle {
  width: 25%;
  height: 0;
  padding-left: 25%;
  padding-top: 25%;
  overflow: hidden; }

.triangle div {
  position: absolute;
  top: 99.9%;
  width: 0;
  height: 0;
  z-index: 9;
  margin-left: -5.5vw;
  border-left: 11vw solid transparent;
  border-right: 11vw solid transparent; }
  .triangle div.t-blue {
    border-top: 12vh solid #66d9ff; }
  .triangle div.t-red {
    border-top: 12vh solid #ff471a; }
  .triangle div.t-white {
    border-top: 12vh solid #f2f2f2; }
  .triangle div.t-yellow {
    border-top: 12vh solid #e6b800; }
  .triangle div.t-dark-grey {
    border-top: 12vh solid #4d4d4d; }

.perehod {
  width: 5vw;
  height: 33vh;
  position: relative; }

.perehod div {
  position: absolute;
  top: -9.8vh;
  width: 0;
  height: 0;
  z-index: 9;
  margin-left: 0vw;
  margin-top: 0;
  border-left: 5vw solid transparent;
  border-right: 0vw solid transparent; }
  .perehod div.t-cyan {
    border-left: 0vw solid transparent;
    border-right: 5vw solid transparent;
    border-bottom: 10vh solid #00ace6; }
  .perehod div.t-rose {
    border-bottom: 10vh solid #e62e00; }
  .perehod div.t-silver {
    border-bottom: 10vh solid #b3b3b3; }
  .perehod div.t-brown {
    border-bottom: 10vh solid #b38f00; }
  .perehod div.t-black {
    border-bottom: 10vh solid #333333; }
  .perehod div.background {
    border-bottom: 10vh solid transparent; }

.perehod.bottom {
  width: 0vw;
  height: 0vh; }
  .perehod.bottom div {
    position: absolute;
    top: 33.1vh;
    width: 0;
    height: 0;
    z-index: 9;
    margin-left: -5vw;
    margin-top: -10vh;
    border-left: 5vw solid transparent;
    border-right: 0vw solid transparent; }
    .perehod.bottom div.background {
      border-bottom: 10vh solid lightgray; }

.perehod.cyan {
  position: relative;
  z-index: 9;
  height: 43vh; }

.stripe-content {
  top: -10vh;
  width: 60vw;
  height: 33vh;
  position: relative; }

.blue {
  top: 10vh;
  background-color: #66d9ff; }

.blue:before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  height: 20vh;
  z-index: 1;
  background-color: #66d9ff; }

.cyan {
  background-color: #00ace6; }

.sky {
  top: 0vh;
  background-color: #1ac6ff; }

.red {
  background-color: #ff471a; }

.magenta {
  background-color: #ff3300; }

.rose {
  background-color: #e62e00; }

.white {
  background-color: #f2f2f2;
  color: black; }

.silver {
  background-color: #b3b3b3; }

.grey {
  background-color: #cccccc; }

.yellow {
  background-color: #e6b800; }

.brown {
  background-color: #b38f00; }

.gold {
  background-color: #cca300; }

.black {
  background-color: #333333; }

.dark-grey {
  background-color: #4d4d4d; }

.charcoal {
  background-color: #404040; }

.time-holder {
  margin-top: 100px;
  font-size: 32px;
  font-style: oblique;
  font-weight: 900; }

h2, h3 {
  font-family: 'Roboto', sans-serif; }

.fullwidth_header, .head-moto {
  font-family: 'Roboto Slab',serif;
  text-align: center;
  color: #ECF0F1; }

.container-hd {
  width: 1080px;
  margin: 0 auto; }

@media screen and (max-width: 1090px) {
  .container-hd {
    width: 95%; } }

.fullwidth_header {
  font-size: 210%;
  padding: 2%;
  margin: 0;
  letter-spacing: 3px;
  background-color: rgba(41, 128, 185, 0.99); }

#map {
  width: 100%;
  height: 90vh;
  pointer-events: none; }

.place-layout {
  position: relative;
  top: 30vh;
  height: 90vh; }

.place-address {
  font-style: normal;
  color: black; }

.partner-block, .partner-img, .partner-moto, .partner-name, .partners {
  text-align: center; }

.partners-layout {
  position: relative;
  top: 50vh; }

.partner-block, .social-link {
  display: inline-block;
  vertical-align: top; }

.partner-block {
  width: 24.7%;
  margin-top: 2%;
  padding-bottom: 15px; }

.partner-img {
  margin: 0 auto;
  padding: 0 11px 4px;
  vertical-align: bottom;
  height: 65px; }

.partner-img img {
  max-height: 65px; }

.partner-link {
  cursor: pointer;
  text-decoration: none; }

.partner-link:hover {
  text-decoration: underline;
  color: #2a81b9; }

.partner-name {
  color: #000;
  font-size: 150%;
  font-weight: 500;
  margin-top: 1%; }

.partner-moto {
  color: #2c3e50;
  padding: 0 15px; }

.partners:after {
  display: table; }
