@font-face {
    font-family: 'MyCoco';
    src: url("../fonts/9653.ttf");
}

html {
    background: url("../images/background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'MyCoco', sans-serif;
}

body, html {
    width: 100%;
    margin: 0;
}

.form {
    width: 460px;
    margin: 3vh auto 0;
}

@media all and (max-width: 470px) {
    .form {
        width: 95%;
    }
}

@media all and (max-width: 320px) {
    .form {
        width: 320px;
    }
}

.head__title {
    background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4));
    width: 100%;
    margin-top: 3vh;
    text-align: center;
}

.tlog-holder {
    width: 150px;
    display: inline-block;
    vertical-align: middle;
}

.head-holder {
    display: inline-block;
    vertical-align: middle;
}

.ticket-holder {
    margin-top: 1vh;
}

.align-center {
    text-align: center;
    padding-right: 0; 
}

.logo {
    width: 100%;
    margin: 0;
}

h1 {
    color: #024761;
    display: inline-block;
    font-size: 200%;
}
@media all and (max-width: 430px){
    .tlog-holder {
        margin-top:20px;
    }

}
.details {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    width: 100%;
    margin-top: 2vh;
    color: white;
    line-height: 1;
    font-size: 140%;
    padding-top: 20px;
    font-weight: 700;
}

ul {
    margin-left: 38%;
    padding: 0 0;
    /*width: 30%;*/
}

@media (max-width: 600px) {
    ul {
        width: 80%;
    }
}
.list{
    width: 50%;
    margin: 0 auto;
    padding-bottom: 1vh;
}