body{
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../images/background.png") no-repeat center center;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.container{
  width: 95%;
  margin: 0 auto;
}
p {
  text-align: center;
  margin: 25vh auto 0;
  font-size: 14em;
  font-family: courier, serif;
}
.show{
  float: right;
  font-size: 2em;
}
.admin {
  float: right;
  margin: 20px;
  font-size: 5em;
  font-family: courier, serif;
  width: 15%;
  display: inline-block;
}

.admin-element{
  border-radius: 50px;
  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  float: right;
  margin: 5%;
  display: inline-block;
}
input.admin-element{
  line-height: 30px;
  height:30px;
  width: 80px;
  font-size:0.5em;
}
button {
  color: white;
  background-color: black;
  cursor: pointer;
} 
input{
  border: 2px solid black;
  border-radius: 5%;
  padding: 8px;
  width: 20%;
}
.display_none {
  display: none;
}