$footer-color: /*#000e1d*/#EBECE7;
$schedule-background: #09AEE6;
$page-background: white;
@font-face {
  font-family: 'MyCoco';
  src:  local("Coco Gothic Regular-trial"),
        url("../fonts/Coco Gothic Ultralight-trial.ttf");
}
@font-face {
  font-family: 'Numbers';
  src:  local("Circle Light"),
        url("../fonts/CircleLight.otf");
}
body{
  margin: 0;
}
html {
  background-color: $page-background;
  color: #fff;
  text-align: center;
  font-size: 2vw;
  font-weight: bold;
  font-family: 'MyCoco';
}
.contact-info a,.nav__links,.register__button,.speaker__link {
    text-decoration: none
}
.head-registration,.head__title,.place-address,.rwd-table tr td,.speaker,.speaker_photo,.speakers {
    text-align: center
}
.head-layout{
  position: relative;
  background:     linear-gradient(
      rgba(0, 0, 0, 0.1), 
      rgba(0, 0, 0, 0.1)
    ),
    url('../images/background.png') no-repeat center center;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  max-height: 98vw;
  height: 160vh;
  font-family: 'MyCoco';
  color: white;}
@media screen and (max-width: 720px) {
  .head-layout {
    max-height: 170vw;
    height: 170vw; 
} }
.navigation{
  position: relative;
  padding: 1.5vw 0vw;
  font-size: 1.5vw;
  background: linear-gradient(rgba(0,0,0,.25),rgba(0,0,0,.25)) ;
  float: none;
  text-align: center;
  padding-top: 2.5vh;
}
.nav__links {
    position: relative;
    z-index: 3;
    color: #ECF0F1;
    padding: 16px;
    display: inline-block;}
.head__title {
  background: linear-gradient(rgba(255,255,255,.7),rgba(255,255,255,.7)) ;
  z-index: 3;
  font-size: 250%;
  width: 100%;
      margin-top: 5%;

  padding: 7.5vh 0vw;
  max-height: 22vw;
}
@media screen and (max-width: 800px) {
  .head__title {
  padding-bottom: 35vh;
      margin-top: 20%;
}}
.logo{
  width: 40vw;
  height: auto;
  padding: 5vh 5vw 5vh 5vw;
  margin: 0vh 0vw 0vh -50vw;
  background: none;
}
@media screen and (max-width: 800px) {
  .logo {
    width: 70%;
    margin: 0 auto; 
}}
.information{
  margin-left: 55vw; 
  padding: 10vh 5vw 5vh;
  color: #024761;
  line-height: 5vw;
  margin-top: -30vw;
  .geostasis{
    margin: 0 auto;
    padding: 0;
    width: 37vw;
    line-height: 3vw;

  }
  h1{
    font-size: 10vw;
    margin: 0;
    line-height: 10vw;
  }
  h2{
    margin: 0;
    font-size: 5vw;
  }
  span{
    font-size: 2.5vw;
    &.month{
      font-weight: bold;
    }
  }
  h1, h2, h3, span, .geostasis{
    padding: 0vh 0vw 0vh 0vw;
  }
  .date{
    font-family: "Numbers";
    font-size: 2.5vw;
    margin: 0;
    width: 100%;
    height: auto;
  }
}

.number{
  font-family: "Numbers";
  font-weight: normal;
}
.head__title__city {
    margin: 2vh 0; 
    font-size: 3vw;}
.register__button {
  z-index: 999;
  min-width: 10vw;
  width: 25vw;
  margin-top: 5vh; 
  border: 0.5vh solid white;
  color: white;
  background-color: transparent;
  padding: 1vw 2.5vw;
  font-size: 2vw;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  transition-duration: .5s;
  transition-property: color,background-color, border;
  cursor: pointer;
  font-weight: bold;
  border: 1vw solid rgba(255, 255, 255, 0.5);
  min-width: 20vw;
  width: 20vw;
}

@media screen and (max-width: 800px) {
  .information {
    margin: 0 auto;
    padding: 0;
}
.register__button{
      margin-top: 15%;
      &.down{
        padding: 2vh 10vw;
        margin-top: 0;
      }
  }
}
.register__button:focus,.register__button:hover{
    -webkit-animation-name: hvr-back-pulse;
    animation-name: hvr-back-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    background-color: rgba(255,255,255,.35);
    color: #ECF0F1;
    outline: 0;
    text-decoration: none;
    border: 1vw solid rgba(255, 255, 255, 0.8);
    color: white;
}
.schedule__inner {
  width: 100%;
    margin: -1vh auto;
    padding: 1vh 0vw;
      background: $schedule-background no-repeat 50% 0; }
.schedule__content {
  max-width: 80%;
  margin: 0vh 10vw 50px 10vw;
  font-size: 2vw; }
.schedule__content:last-child {
  margin-bottom: 0; }
.schedule__hall-titles {
  margin-left: 210px;
  white-space: nowrap;
  margin-bottom: 10px;
  font-size: 2.5vw;
  color: #fff; }
@media screen and (max-width: 720px) {
  .schedule__hall-titles {
    margin-left: 100px;
    font-size: 2vw; } }
.schedule__hall-title-a, .schedule__hall-title-b {
  width: 50%;
  text-align: center;
  display: inline-block; }
  .schedule__hall-title-a--triple, .schedule__hall-title-b--triple {
    width: 33%; }
.schedule__hall-title-c {
  width: 33%;
  text-align: center;
  display: inline-block; }
.schedule__title {
  letter-spacing: -3px;
  text-transform: uppercase;
  font-size: 6vw;
  text-align: center;
  color: #fff;
  font-family: 'MyCoco';
  font-weight: 600;
  margin-bottom: 40px; }
@media screen and (max-width: 720px) {
  .schedule__title {
    font-size: 4vw;
    letter-spacing: -1px; } }
@media screen and (max-width: 720px) {
  .schedule__second-title {
    font-size: 30px;
    letter-spacing: -1px; } }
.schedule__bottom-bg {
  position: relative;
  height: 309px;
  width: 100%;
  background: url("../images/schedule_bottom.png") no-repeat 50% 100%; 
  z-index: 999;
}
.schedule__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px; }
.schedule__info-time {
  padding-left: 25px;
  color: #fff;
  width: 205px;
  height: 56px;
  line-height: 56px;
  background: url("../images/icons/connector-1.png") no-repeat 100% 50% #1DB3E6; }
.schedule__info-time--hatching {
  background: url("../images/icons/connector-hatching.png") no-repeat 100% 50% #1DB3E6; }
@media screen and (max-width: 720px) {
  .schedule__info-time {
    width: 100px;
    padding-left: 5px; } }
.schedule__info-text {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 56px;
  line-height: 56px;
  color: #fff;
  background: #089DD1;
  padding-left: 15px; 
  span.text{
    padding-top: 10px;
  }
}
@media screen and (max-width: 720px) {
  .schedule__info-text {
    font-size: 2vw;} }
.schedule__info-text--hatching {
  background: url("../images/icons/hatching.png") repeat -1px 0 #089DD1; }
@media screen and (max-width: 720px) {
  .schedule__info-text--hatching {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; } }
.schedule__info-text--with-margin {
  margin-right: 13px; }
/*.schedule__info-text-icon {
  display: inline-block;
  margin: -4px 10px 0 0;
  vertical-align: middle; }
.schedule__info-text-icon.form {
  width: 34px;
  height: 37px;
  background: url("../images/icons/form.png") no-repeat 0 0; }
.schedule__info-text-icon.cup {
  width: 41px;
  height: 41px;
  background: url("../images/icons/cup.png") no-repeat 0 0; }
.schedule__info-text-icon.key {
  width: 38px;
  height: 38px;
  background: url("../images/icons/key.png") no-repeat 0 0; }
.schedule__info-text-icon.dinner {
  width: 34px;
  height: 32px;
  background: url("../images/icons/dinner.png") no-repeat 0 0; }
.unlock, .lock{
  width: 40px;
  padding-top: 8px;
  }*/
.schedule__reporter {
  color: #666666; }
.schedule__report {
  margin-bottom: 8px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
.schedule__report-time {
  padding-left: 25px;
  color: #000;
  width: 185px;
  height: 56px;
  line-height: 56px;
  background: url("../images/icons/connector-2.png") no-repeat 100% 50% #fff; }
@media screen and (max-width: 720px) {
  .schedule__report-time {
    width: 80px;
    padding-left: 5px;
    font-size: 2vw; } }
.schedule__report-hall-a, .schedule__report-hall-b {
  padding: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
  background: #fff; 
  color: black;}
@media screen and (max-width: 720px) {
  .schedule__report-hall-a, .schedule__report-hall-b, .schedule__report-hall-c {
    font-size: 2vw; } }
.schedule__report-hall-a {
  margin-right: 13px; }
.schedule__report-hall-c {
  margin-left: 13px; }

/*
.stripe-holder{
  position: relative;
  left: 7.5vw;
  width: 85vw;
}
.clear {
  clear: both; }
.speakers-layout{
    position: relative;
    top: 20vh;}
.option-num, .perehod, .stripe-content {
  float: left; }
.option-num {
  width: 14vw;
  height: 33vh;
  position: relative;
}
.triangle{
    width: 25%;
    height: 0;
    padding-left:25%;
    padding-top: 25%;
    overflow: hidden;}
.triangle div {
    position: absolute;
    top: 99.9%;
    width: 0;
    height: 0;
    z-index: 9;
    margin-left: -3.5vw;
    border-left: 7vw solid transparent;
    border-right: 7vw solid transparent;
    &.t-blue{
        border-top: 12vh solid rgb(102, 217, 255);}
    &.t-red{
        border-top: 12vh solid rgb(255, 71, 26);}
    &.t-white{
         border-top: 12vh solid rgb(242, 242, 242);}
    &.t-yellow{
        border-top: 12vh solid rgb(230, 184, 0);}
    &.t-dark-grey{
        border-top: 12vh solid rgb(77, 77, 77);}
}
.perehod {
  width: 5vw;
  height: 33vh;
  position: relative; }
.perehod div{
    position: absolute;
    top: -9.8vh;
    width: 0;
    height: 0;
    z-index: 9;
    margin-left: 0vw;
    margin-top: 0;
    border-left: 5vw solid transparent;
    border-right: 0vw solid transparent;
    &.t-cyan{
        border-left: 0vw solid transparent;
        border-right: 5vw solid transparent;
        border-bottom: 10vh solid rgb(0, 172, 230);}
    &.t-rose{
        border-bottom: 10vh solid rgb(230, 46, 0);}
    &.t-silver{
        border-bottom: 10vh solid rgb(179, 179, 179);}
    &.t-brown{
        border-bottom: 10vh solid rgb(179, 143, 0);}
    &.t-black{
        border-bottom: 10vh solid rgb(51, 51, 51);}
    &.background{
        border-bottom: 10vh solid transparent; 
    }
}
.perehod.bottom{
    width: 0vw;
    height: 0vh;
    div{
    position: absolute;
    top: 33.1vh;
    width: 0;
    height: 0;
    z-index: 9;
    margin-left: -5vw;
    margin-top: -10vh;
    border-left: 5vw solid transparent;
    border-right: 0vw solid transparent;
        &.background{
        border-bottom: 10vh solid $page-background; 
    }
    }
}
.perehod.cyan{
    position: relative;
    z-index: 9;
    height: 43vh;}
.stripe-content {
  top:-10vh;
  width: 50vw;
  height: 33vh;
  position: relative; }
.content-text{
  position: absolute;
  width: 70%;
}
.blue {
    top: 10vh;
    background-color: rgb(102, 217, 255); }
.blue:before{
    content: '';
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    height: 20vh;
    z-index: 1;
    background-color: rgb(102, 217, 255);}
.cyan {
  background-color: rgb(0, 172, 230); }
.sky {
    top:0vh;
  background-color:  rgb(26, 198, 255);}
.red {
  background-color: rgb(255, 71, 26); }
.magenta {
  background-color: rgb(255, 51, 0); }
.rose {
  background-color: rgb(230, 46, 0); }
.white {
  background-color: rgb(242, 242, 242); 
  color: black;}
.silver{
  background-color: rgb(179, 179, 179);}
.grey {
  color: black;
  background-color: rgb(204, 204, 204);}
.yellow{
  background-color: rgb(230, 184, 0);}
.brown{
  background-color: rgb(179, 143, 0);}
.gold{
  background-color: rgb(204, 163, 0);}
.black{
  background-color: rgb(51, 51, 51);}
.dark-grey{
  background-color: rgb(77, 77, 77);}
.charcoal{
  background-color: rgb(64, 64, 64);}
.t-right div{
  content: "";
  position: absolute;
  top: 0vh;
  left: 100%;
  display: block;
  width: 0;
  height: 0;
  border-bottom: 33vh solid $page-background;
  &.magenta {
  border-left: 7.5vw solid rgb(255, 51, 0); }
  &.sky {
  border-left: 7.5vw solid  rgb(26, 198, 255);}
  &.grey {
  border-left: 7.5vw solid rgb(204, 204, 204);}
  &.gold{
  border-left: 7.5vw solid rgb(204, 163, 0);}
  &.charcoal{
  border-left: 7.5vw solid rgb(64, 64, 64);}
}
.speaker-photo img{
  position: absolute;
  top: 1vh;
  right: 1vw;
  height: 30vh;
  width: auto;
  z-index: 99;
}
.time-holder {
  margin-top: 100px;
  font-size: 32px;
  font-style: oblique;
  font-weight: 900; }
*/

.fullwidth_header,.head-moto {
  color: $schedule-background;
}

.container-hd {
  width: 1080px;
  margin: 0 auto;}

@media screen and (max-width: 1090px) {
    .container-hd {
        width:95%
    }
}

.fullwidth_header {
    font-size: 210%;
    padding: 2%;
    margin: 0;
    letter-spacing: 3px;
    background-color: $footer-color;
}

#map{
  width: 100%;
  height: 70vh;
  pointer-events:none;
}

.place-layout{
  height: auto;
}
.place-address{
  font-style: normal;
  font-weight: bold;
  padding: 3vh 0vw;
  color: black;
}

.partner-block,.partner-img,.partner-moto,.partner-name,.partners {
    text-align: center
}

.partner-block,.social-link {
    display: inline-block;
    vertical-align: top
}
.partner-block {
    width: 24.7%;
    margin-top: 2%;
    padding-bottom: 15px
}

.partner-img {
    margin: 0 auto;
    padding: 0 11px 4px;
    vertical-align: bottom;
    /*height: 65px*/
    img{
      width: 14vw;
    }
}
.partner-link {
    cursor: pointer;
    text-decoration: none
}

.partner-link:hover {
    text-decoration: underline;
    color: #2a81b9
}

.partner-moto {
    color: #2c3e50;
    padding: 0 15px
}

.partners:after {
    display: table
}
.organizers-layout{
  margin-top: 10vh;
  height: auto;
  min-height: 120vh;
}
@media screen and (max-width: 1400px) {
  .organizers-layout {
    min-height: 60vw;
    max-height: 100vw;} }
.organizer{
  &.first{
    div.name{
      margin-top: -18vw;
      margin-left: 21vw;
    }
    div.contacts{
        margin-left: 25vw;
    }
    text-align: -webkit-left;
    margin-top: 10vh;
  }
  &.second{
    div.name{
      margin-top: -18vw;
      margin-right: 21vw;
    }
    div.contacts{
      margin-right:  25vw;
    }
    text-align: -webkit-right;
    margin-top: 15vw;
    right: 10vw;
  }

}
.organizer .photo{
  width: 18vw;
  height: 18vw;
  img{
    width: 100%;
    height: auto;
    position: relative;
    border-radius: 100%;
  }
}
.organizer .name{
  color: black;
  position: relative;
  font-size: 2.25vw;
}
.organizer .contacts{
  a{
    i{
      color: black;
      padding: 2vh 1vw;
      font-size: 2.5vw;
      outline: none;
    }
  }
}

.contacts_break {
    display: none
}

@media (max-width: 510px) {
    .copy {
        display:none
    }

    .social-links {
        text-align: center
    }
}

.social-link {
    position: relative;
    line-height: 25px;
    padding: 3vh 0vw;
    width: 53%;
    text-decoration: none;
    color: white;
    margin-left: 5px;
    span{
      text-align: left;
      margin-left: 0px;
      min-width: 20%;  
      position: absolute;
      left: 5vw;
    }
}


.social-icons {
    position: absolute;
    top: 25px;
    left: 0
}

.social-icons.emails {
    top: 22px;
    width: 24px
}

.social-icons.fb,.social-icons.instagram {
    width: 19px
}
.social-links{
  width: 35vw;
  font-size: 1.5vw;
  margin-top: -40vh;
  margin-left: 60vw;
}
.social-icons.vk {
    height: 28px;
    top: 20px
}
footer {
    background-color: #09AEE6;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.footer{
  position: relative;
  top: 50vh;
  bottom: 0px;
  width: 100%;
  z-index: 10;
}
.footer__top-bg {
  position: relative;
  height: 309px;
  width: 100%;
  margin-top: -1vh;
  background: url("../images/footer_top.png") no-repeat 50% 100%; 
  z-index: 999;
}.footer__bottom-bg {
      margin-top: -10vh;
  height: 309px;
  width: 100%;
  background: url("../images/footer_bottom.png") no-repeat 50% 100%; 
  z-index: 999;
}

.copy {
    float: none;
    line-height: 62px;
    color: #ECF0F1;
    position: relative;
    /* padding-left: 5%; */
    top: 44vh;
}

.registration{
  h1{
        font-size: 4.25vw;

  }
  margin-top: -10vh;
  width: 50vw;
  padding: 0 0 0 5vw; 
}
@media screen and (max-width: 800px) {
  .registration {
    width: 100%;
    margin-top: -25vh;
    padding: 0;
    h1{
      font-size: 6.25vw;
    }
  }
  .social-links{
    width: 100%;
    margin: 10vh 0 0 0;
    h2{
      font-size: 4vw;}}
  .social-icons{
      padding: 2vh 2vw;}
  .social-link{
        font-size: 3.5vw;

  }
  .social-link span{
    padding: 2vh 10vw;}

  .blank{
    display: none;}
  }