$footer-color: #EBECE7;
$cool-blue: #024761;
$schedule-background: #09AEE6;
$page-background: white;
@font-face {
  font-family: 'MyCoco';
  src: /*local("Coco Gothic Regular-trial"),*/
          url("../fonts/9653.ttf");
}

@font-face {
  font-family: 'Numbers';
  src: local("Circle Light"),
  url("../fonts/CircleLight.otf");
}

body, html {
  margin: 0;
}

html {
  background-color: $page-background;
  color: #fff;
  text-align: center;
  font-size: 140%;
  font-weight: bold;
  font-family: 'MyCoco';
}

.contact-info a, .nav__links, .register__button, .speaker__link {
  text-decoration: none
}

.head-registration, .head__title, .place-address, .rwd-table tr td, .speaker, .speaker_photo, .speakers {
  text-align: center
}

.head-layout {
  position: relative;
  width: 100%;
  /*background: $schedule-background;*/
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/background.png") no-repeat center center;
  /*background-color: #09AEE6;*/
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  padding-bottom: 9vw;
  font-family: 'MyCoco';
  color: white;
}


.navigation {
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
  padding: 0 0;
  font-size: 85%;
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));
  float: none;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.active {
    background: linear-gradient(rgba(255, 255, 255,.25), rgba(255, 255, 255,.25));
}
.nav__links {
  position: relative;
  z-index: 3;
  color: #ECF0F1;
  margin-top: 0.5vw;
  padding: 16px;
  display: inline-block;
  transition-duration: .5s;
  transition-property: color, background-color, border;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 0px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  cursor: pointer;
}

.nav__links:hover, .nav__links:focus {
  -webkit-animation-name: hvr-back-pulse;
  animation-name: hvr-back-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-color: rgba(255, 255, 255, .35);
  color: #ECF0F1;
  text-decoration: none;
  color: white;
}

.head__title {
  background: linear-gradient(rgba(255, 255, 255, .7), rgba(255, 255, 255, .7));
  z-index: 3;
  font-size: 250%;
  width: 100%;
  position: relative;
  top: 27vh;
  padding: 5vh 0; 
  max-height: 18vw;
}

@media screen and (max-width: 800px) {
  .navigation{
    position: absolute;
  }
  .head__title {
    top: 30vh;
    padding-bottom: 45vh;
  }
}
@media all and(max-width: 510px){
  .head__title{
    padding-bottom: 55vh;
  }
}
.logo {
  width: 35vw;
  height: auto;
  top: 0;
  padding: 5vh 5vw 5vh 5vw;
  margin: 0vh 0vw 0vh -45vw;
  background: none;
}

@media screen and (max-width: 800px) {
  .logo {
    width: 30%;
    margin: 0 auto;
  }
}

.info {
  top: 0;
  margin-left: 40vw;
  padding: 50px 0;
  color: $cool-blue;
  margin-top: -25vw;
  .geostasis {
    margin: 0 auto;
    padding: 0;
    width: 37%;
    line-height: 0.4;
  }
  h1 {
    font-size: 175%;
    margin-top: 2vw;
    margin-bottom: 0;
  }
  h2 {
    margin: 0 0;
    font-size: 80%;
    line-height: 0.8;
  }
  span {
    margin: -2vw 0 0;
    font-size: 24px;
    &.month {
      font-weight: bold;
    }
  }
  h1, h2, h3, span, .geostasis {
    padding: 0vh 0vw 0vh 0vw;
  }
  .date {
    font-family: "Numbers";
    font-size: 24px;
    margin: 0;
    width: 100%;
    height: auto;
  }
}

.number {
  font-family: "Numbers";
  font-weight: normal;
}

.head__title__city {
  margin: 2vh 0;
  font-size: 3vw;
}

.register__button {
  min-width: 10vw;
  width: 25vw;
  color: white;
  background-color: transparent;
  padding: 1vw 24px;
  font-size: 115%;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  transition-duration: .5s;
  transition-property: color, background-color, border;
  cursor: pointer;
  font-weight: bold;
  border: 0.5vw solid rgba(255, 255, 255, 0.5);
  min-width: 20vw;
  width: 20vw;
  z-index: 99;
  &.nav {
    font-size: inherit;
    float: right;
    padding: 0;
    margin: 1.5% 7.5vw 0 0;
    border-width: 5px;
    min-width: 15vw;
    width: 15vw;
  }
  &.down{
    z-index: 999;
  }
}


.register__button:focus, .register__button:hover {
  -webkit-animation-name: hvr-back-pulse;
  animation-name: hvr-back-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-color: rgba(255, 255, 255, .35);
  color: #ECF0F1;
  outline: 0;
  text-decoration: none;
  border: 0.5vw solid rgba(255, 255, 255, 0.8);
  color: white;
  &.nav {
    border-width: 5px;
  }
}

.description-layout {
  /*  background-color: $schedule-background;*/
  margin: 30% 0 0;
}

@media screen and (max-width: 510px) {
  .info{
    h1{
      font-size: 100%;
    }
    h2{
      font-size: 75%;
    }
    .geostasis{
      width: 50%;    }
  }
  .description-layout {
    margin: 70% 0 10%;
  }
}

@media all and(max-width: 1024px){
  .info{
    padding: 0px 0;
  }
}
.description__content {
  /*  background-color: $schedule-background;*/
  color: white;
  width: 70%;
  margin: 0vh auto;
  font-size: 120%;
}

ul#countdown {
  position: relative;
  transform: translateY(-50%);
  width: 70%;
  margin: 15vw auto 0;
  padding: 15px 0 20px 0;
  color: #fff;
  border: 1px solid $page-background;
  border-width: 1px 0;
  overflow: hidden;
  li {
    margin: 0 -3px 0 0;
    padding: 0;
    display: inline-block;
    width: 10vw;
    font-size: 200%;
    text-align: center;
    .label {
      color: $page-background;
      font-size: 18px;
      font-size: 40%;
      text-transform: uppercase;
    }
  }
}

@media screen and (max-width: 800px) {
  .info {
    margin: 0 auto;
    padding: 0;
  }
  .register__button{
    min-width: 35vw;
    font-size: 85%;
  &.down {
      padding: 2vh 10vw;
      margin-top: 0;

  }
  &.nav{
    display: block;
    float: none;
    margin: 0 auto 5%;
    width: 150px;
    }}
}
@media all and(max-width: 510px){
  ul#countdown{
    display: none;
  }
}
.speakers-layout {
  background-color: $schedule-background;
  position: relative;
  margin-top: -1vh;
  z-index: 99;
  display: inline-block;
}

.wrap {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  width: 70%;
}

.partner-img:not(:hover) {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  opacity: .75;
}

.speaker {
  float: left;
  width: 20%;
  margin: 0 6%;
  padding-top: 5%;
  color: white;
  min-height: 17vw;
  font-size: 90%;
}

.speaker_photo {
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: .25s ease-in;
  transition: .25s ease-in;
}
.name{
  font-weight: bold;
}
.speaker_photo {
  border-radius: 100%;
  width: 75%;
  overflow: hidden;
  height: auto;
  float: none;
  border: 10px solid transparent;
  z-index: 999;
}
.position{
    color: $cool-blue;

  font-size: 80%;
  letter-spacing: 1.5px;
}
@media all and(max-width: 800px){
  .wrap{
    width: 95%;
  }
  .speaker{
    width: 50%;
    margin: 0;
  }
}
.schedule__inner {
  position: relative;
  width: 100%;
  margin: -1vh auto;
  padding: 10vw 0vw 0 0;
  background: $schedule-background no-repeat 50% 0;
}

.schedule__content {
  margin: 0vh 20vw 50px 20vw;
  font-size: 80%;
}

.schedule__content:last-child {
  margin-bottom: 0;
}
@media all and (max-width: 800px) {
  .schedule__content{
    width: 95%;
    margin: 0 auto;
  }
}
.schedule__hall-titles {
  margin-left: 210px;
  white-space: nowrap;
  margin-bottom: 10px;
  font-size: 24px;
  color: #fff;
}

.schedule__hall-title-a {
  width: 50%;
  text-align: center;
  display: inline-block;
}

.title {
  width: 48vw;
  text-transform: uppercase;
  font-size: 250%;
  text-align: center;
  color: #fff;
  font-family: 'MyCoco';
  font-weight: 600;
  border: 1px solid white;
  border-left: none;
  border-right: none;
  margin: 2vw auto;
  &.schedule__title {
    margin-left: 31vw;
  }
}

@media screen and (max-width: 720px) {
  .schedule__title, .title {
    font-size: 200%;
    width: 70%;
    letter-spacing: -1px;
  }
}

.schedule__bottom-bg {
  position: relative;
  height: 179px;
  width: 100%;
  background: url("../images/schedule_bottom.png") no-repeat 50% 100%;
  z-index: 9;
}

.schedule__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px;
}

.schedule__info-time {
  padding-left: 15px;
  color: #fff;
  width: 10vw;
  height: 3vw;
  line-height: 3vw;
  background: url("../images/icons/connector-1.png") no-repeat 100% 50% #1DB3E6;
  background-size: contain;
}

.schedule__info-time--hatching {
  background: url("../images/icons/connector-hatching.png") no-repeat 100% 50% #1DB3E6;
  background-size: contain;
}

@media screen and (max-width: 720px) {
  .schedule__info-time {
    width: 25%;
    height: auto;
    line-height: 1;
    padding-left: 15px;
    text-align: left;
    font-size: 110%;
  }
}

.schedule__info-text {
  text-align: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 3vw;
  line-height: 3vw;
  color: #fff;
  background: #089DD1;
}

@media screen and (max-width: 800px) {
  .schedule__info-text {
    font-size: 110%;
    height: auto;
    line-height: 1;
  }
}

.schedule__info-text--with-margin {
  margin-right: 13px;
}

.schedule__reporter {
  color: #666666;
}

.schedule__report {
  margin-bottom: 8px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.schedule__report-time {
  padding-left: 25px;
  color: #000;
  width: 9vw;
  height: 56px;
  line-height: 56px;
  background: url("../images/icons/connector-2.png") no-repeat 100% 50% #fff;
  background-size: contain;
}

@media screen and (max-width: 800px) {
  .schedule__report-time {
    width: 80px;
    padding-left: 15px;
    text-align: left;
    font-size: 110%;
  }
}

.schedule__report-hall-a, .schedule__report-hall-b {
  padding: 0.5vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
  background: #fff;
  color: black;
}

@media screen and (max-width: 720px) {
  .schedule__report-hall-a, .schedule__report-hall-b, .schedule__report-hall-c {
    font-size: 110%;
  }
}

.tickets {
  padding: 5vw 0 0;
}

.tickets__list {
  width: 50%;
  margin: 0 auto;
  padding: 0 0 5vw 0;
  list-style: none;
  text-align: center;
}

.tickets__list-item {
    width: 49%;
    display: inline-block;
    border: 3px solid white;
    border-right: 0 none;
    border-left: 0 none;
    background-color: transparent;
}

.tickets__box {
  height: 140px;
  padding: 40px 30px;
}

.tickets__box-title {
  margin-bottom: 40px;
  font-size: 120%;
  font-weight: 600;
}

.tickets__box-price {
  margin-bottom: 40px;
  line-height: 1;
  font-weight: 300;
  font-size: 125%;
}

.tickets__box-price sup {
  margin-left: 8px;
  top: -35px;
  font-size: 60%;
  line-height: 1;
}
@media all and (max-width: 510px){
  .tickets__list-item{
    width: 95%;
  }
}
.fullwidth_header, .head-moto {
  color: $schedule-background;
}

.container-hd {
  width: 1080px;
  margin: 1vh auto;
}

@media screen and (max-width: 1090px) {
  .container-hd {
    width: 95%
  }
}

.fullwidth_header {
  font-size: 150%;
  padding: 2%;
  margin: 0;
  letter-spacing: 3px;
  background-color: $footer-color;
}

#map {
  width: 100%;
  height: 70vh;
  pointer-events: none;
}

.place-layout {
  height: auto;
}

.place-address {
  font-style: normal;
  font-weight: bold;
  padding: 3vh 0vw;
  color: black;
}

.partner-block, .partner-img, .partner-moto, .partner-name, .partners {
  text-align: center
}

.partner-block, .social-link {
  display: inline-block;
}

.partner-block {
  width: 24.7%;
  margin-top: 2%;
  padding-bottom: 15px
}

.partner-img {
    -webkit-transition: .25s ease-in;
  transition: .25s ease-in;
  margin: 0 auto;
  padding: 0 11px 4px;
  img {
    width: 80%;
  }
}

.partner-link {
  cursor: pointer;
  text-decoration: none
}

.partner-link:hover {
  text-decoration: underline;
  color: #2a81b9
}

.partner-moto {
  color: #2c3e50;
  padding: 0 15px
}

.partners:after {
  display: table
}
@media all and(max-width: 720px){
  .partner-block{
    width: 48.7%
  }
    .partner-img img{
      width: 100%;
    }
    .partner-moto{
      font-size: 65%;
    }
}
.organizers-layout {
  z-index: 7;
  padding-bottom: 2vw;

}

.organizer {
  margin: 5vw auto;

  div.name {
    margin-top: -12%;
  }
  &.left {
    img{
      margin-left: 50%;
    }
    div.name {
      margin-left: 22vw;
    }
    div.contacts {
      margin-left: 25%;
    }
    text-align: -webkit-left;
  }
  &.right {
    .photo{
      margin-right: 5%;
    }
    div.name {
      margin-right: 22vw;
    }
    div.contacts {
      margin-right: 25%;
    }
    text-align: -webkit-right;
  }

}

.organizer .photo {
  width: 140px;
  height: auto;
  img {
    width: 100%;
    height: auto;
    position: relative;
    border-radius: 100%;
  }
}

.organizer .name {
  color: black;
  position: relative;
  font-size: 95%;
}

.organizer .contacts {
  a {
    i {
      color: black;
      padding: 2vh 1vw;
      font-size: 100%;
      outline: none;
    }
  }
}

.contacts_break {
  display: none
}

@media (max-width: 510px) {
  .organizer .photo{
    width: 35%;
    height: auto;
  }
  .copy {
    display: none
  }

  .social-links {
    text-align: center
  }
}
@media all and(max-width: 800px){
    .organizer div.name {
    margin-top: 0;
  }
}
.social-link {
  position: relative;
  line-height: 25px;
  padding: 3vh 0vw;
  width: 7%;
  text-decoration: none;
  color: white;
  margin-left: 5px;
  span {
    text-align: left;
    margin-left: 0px;
    min-width: 20%;
    position: absolute;
    left: 5vw;
  }
}

.social-icons {
  position: absolute;
  top: 25px;
  left: 0
}

.social-icons.emails {
  top: 25px;
  width: 24px
}

.social-icons.fb, .social-icons.instagram {
  width: 19px
}

.social-links {
  width: 35vw;
  font-size: 1.5vw;
  margin-top: -15vw;
  margin-left: 60vw;
  margin-bottom: 10%;
}

.social-icons.vk {
  height: 28px;
  top: 20px
}

footer {
  background-color: #09AEE6;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.footer {
  position: relative;
  top: 50vh;
  bottom: 0px;
  width: 100%;
  z-index: 10;
}

.footer__top-bg {
  position: relative;
  height: 309px;
  width: 100%;
  margin-top: -1vh;
  background: url("../images/footer_top.png") no-repeat 50% 100%;
}

.footer__bottom-bg {
  margin-top: 0;
  height: 159px;
  width: 100%;
  background: url("../images/footer_bottom.png") no-repeat 50% 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 9;
}

.copy {
  float: none;
  line-height: 62px;
  color: #ECF0F1;
  position: relative;
  /* padding-left: 5%; */
  top: 44vh;
}

.registration {
  h2 {
    font-size: 4.25vw;

  }
  margin-top: -5vw;
  width: 50vw;
  padding: 0 0 0 5vw;
}

@media screen and (max-width: 800px) {
  .registration {
    width: 100%;
    margin-top: -25vh;
    padding: 0;
    h2 {
      font-size: 160%;
    }
  }
  .social-links {
    width: 100%;
    margin: 10vh 0 10vh 0;
    h2 {
      font-size: 400%;
    }
  }
  .social-icons {
    padding: 2vh 2vw;
  }
  .social-link {
    font-size: 3.5vw;

  }
  .social-link span {
    padding: 2vh 10vw;
  }

  .blank {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .social-links {
    margin: 10vh 0 5vh 0;
  }
}